
* {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

html, body {
	overflow: auto;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	border: none;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	background-color: #ffffff;
}

a:link	{ color:#188c24; }
a:visited { color:#136e1c; }
a:hover { color: #29ef3d; }
a:active { color:#136e1c; }

input { font-size: 12px; }

div#mainContainer {
	width: 790px;
	height:100px;
	min-height:100px;
	margin-left: auto; margin-right: auto;
	margin-top: 0px; margin-bottom: 0px;
	background-color: #f2fff2;
	border-left-color: #4eff4e; border-left-width: 2px; border-left-style: ridge;
	border-right-color: #4eff4e; border-right-width: 2px; border-right-style: ridge;
}
html>body #mainContainer{height:auto;min-height:100%}

div.clearer { clear:both; }

 /* Header */

div#header {
	background-color: #a1dfa7;
	border: 1px solid #467e4b;
	padding: 2px;
	vertical-align: bottom;
}
h1#titleHeader, h1#titleHeader a {
	font-size: 14px; font-weight: bold;
}

 /* Banner */

p#banner, p#banner * { text-align: center; font-style: italic;  font-size: 10px; }
p.note { font-style: italic; font-size: 10px; }

 /* Buttons */

ul.buttons { list-style-type: none; margin: 0; margin-top: 3px; margin-left: auto; margin-right: auto; text-align: center; padding: 0; clear: both;}
ul.buttons li { display: inline; margin: 0; padding: 2px; }

.buttonNormal
{
	background-color: #c7e7ca;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid #467e4b;
    border-bottom: 1px solid #467e4b;
	cursor: pointer;
    font-size: 12px;
    margin: 2px;
    padding: 2px;
}

.buttonHover
{
	background-color: #f2fff2;
	border-style: solid;
	border-width: 1px;
	border-top-color: white;
	border-left-color: white;
	border-bottom-color: #467e4b;
	border-right-color: #467e4b;
	cursor: pointer;
	text-decoration: underline;
    font-size: 12px;
    margin: 2px;
    padding: 2px;
}

.buttonPressed
{
	background-color: #a1dfa7;
	border-style: solid;
	border-width: 1px;
	border-top-color: #467e4b;
	border-left-color: #467e4b;
	border-bottom-color: white;
	border-right-color: white;
	cursor: pointer;
    font-size: 12px;
    margin: 2px;
    padding: 2px;
}

.buttonPressedHover
{
	background-color: #f2fff2;
	border-style: solid;
	border-width: 1px;
	border-top-color: white;
	border-left-color: white;
	border-bottom-color: #467e4b;
	border-right-color: #467e4b;
	cursor: pointer;
	text-decoration: none;
    font-size: 12px;
    margin: 2px;
    padding: 2px;
}

 /* Tabs */

div.tabContent
{
	border: 1px solid #467e4b;
	padding: 5px;
}

div.tagHolder
{
	margin-top: 10px;
	margin-bottom: 20px;
}


div.tagClassEntry
{
	clear: both;
}
div.tagClassEntry label
{
	float : left;
	width : 150px;
	height: 16px;
	text-align: center;
}
div.tagClassEntry input, div.tagClassEntry select
{
	width: 500px;
	height: 16px;
}